body {
    background-color: #243452 !important; 
}

.title-on-nav {
    color: #991E1E;
}

body .body-title {
    color: #991E1E;
    text-align: center;
    margin-top: 10px;
    border: 2px solid white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 15px;
}

.navbar-custom {
    background-color: rgb(6, 19, 57)/*#061339*/ !important; 
}

.search-button {
    border: 1px solid white;
    color: white;
}

.store-menu li {
    text-align: center;
    border-top: 1px solid rgb(6, 19, 57);
    border-bottom: 1px solid rgb(6, 19, 57);
}

.store-menu li a {
    color: #991E1E;
}