{% extends 'custom-admin/admin-base.html' %}

{% block title %}
- Staff User Profile
{% endblock %}

{% block bodyblock %}

<br>
<div class="row">
    <div class="col-xs-12 col-sm-12 shadow p-4 mb-5 bg-body rounded admin-user-detail-staff-white-box">
        <h1 class="admin-staff-user-profile-h1">Staff User Profile</h1>
        <p class="admin-staff-user-profile-username">{{ item.username }}</p>
        <form method="POST" action="{% url 'admin_user_detail_staff' slug=item.username %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.instance.profile_picture %}
                <div class="mb-3">
                    <p>Current profile picture:</p>
                    <img src="{{ form.instance.profile_picture.url }}"
                        alt="Current profile picture"
                        class="img-fluid rounded-circle"
                        style="max-width: 180px; height: auto;">
                </div>
            {% else %}
                <p>No profile picture set yet.</p>
            {% endif %}
            {{ form.as_p }}
            <input class="btn btn-secondary" type="submit" value="Update">
        </form>
    </div>
</div>


{% endblock %}